{% extends 'base/base.html' %}
{% block title %}Index Page{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="border p-3 shadow">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
    <hr>

    {% for todo in todos %}
    <div class="border bg-muted p-3 mb-3">
        <p> <small>{{ todo.created_date }}</small></p>
        <div class="row">
            <div class="col-md-8">
                {% if todo.complete == True %}
                <p><span class="btn btn-success btn-sm mr-2"><i class="far fa-check-circle"></i>
                   </span></i> {{ todo.id }}{{ todo.title }}</p>
                    </span></i>{{ todo.content }}</p>
                {% else %}
                <p>{{ todo.content }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}